@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
    --main-font: 'Lato', 'sans-serif';
    --main-color:rgb(4, 89, 143);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Classes */
.font-black{
    font-weight: 900;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400;
}
.font-light{
    font-weight: 300;
}

/* General Elements */

.logo{
   position: absolute;
   z-index: 2;
   left: 30px;
   width: 200px;
   cursor: pointer;
}



/* ================ Side Menu ================= */
.side-menu-container{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transform: translateY(-200%);
    opacity: 0;
    transition: all ease 0.2s;
}
.side-menu{
    width: 300px;
    height: 100%;
    background-color: var(--main-color);
}

.side-menu h2{
    font-family: var(--main-font);
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 20px 0 20px 20px;
    
}

.side-links{
    padding-left: 30px;
    margin-top: 20px;
}
.side-links a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
    height: 60px;
    transition: all ease 0.2s;
}
.side-links a:hover{
    color:rgb(147, 226, 43);
    transform: translateY(-2px);
}


#sideMenuBtn{
    background: none;
    color:var(--main-color);
    border: none;
    font-size: 2rem;
}



/* ============== Top Bar ================= */

.top-bar{
    width: 100%;
    height: 70px;
    /* background:rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    padding-right: 50px;
    position: fixed;
    top: 0;
    transition: all ease 0.2s;
    
}

.top-bar .user-drop a{
    color:var(--main-color);
    font-family: var(--main-font);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    transition: all ease 0.2s;

}


.cart{
    height: 45px;
    width: 45px;
    text-align: center;
    padding: auto;
    position: relative;
    
}

.cart a{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    z-index: 2;
}

.cart .badge{
    position: absolute;
    z-index: 3;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top:0;
    left: 50%;
    padding: auto;
    

    
}

.my-links a{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 700;
}
.my-links a:hover{
    color: rgba(128, 37, 246, 0.911);
    background-color: none;
}


.brand-filter{
    display: block;
    margin: 20px auto;
    height: 50px;
    text-align: center;
}

.brand-filter a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 900;
}

.brand-filter a img{
    height: 100%;
}


#mobile-me-logo{
    font-family: var(--main-font);
    color: var(--main-color);
    text-decoration: none;
    font-weight: 300;
    font-size: 3rem;
}

@media only screen and (min-width: 600px) {
    
    

    .my-links{
       display: flex;
       justify-content: center;
       flex:1;
      
      
    }

}


.main{
    min-height: 90vh;
    font-family:var(--main-font);
}





/* =========== Product Card ================ */

.product-card{
    height: 400px;
    padding: 0;
    position: relative;
}

.product-card a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.product-card-image{
    width: 100%;
    height: 80%;
    transition: all ease 0.2s;
}

.product-card-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.product-card-data{
    width: 100%;
    height: 20%;
}

.product-card-data h6{
    margin-top: 10px;
    font-size: 20px;
    color:var(--main-color);
}

.product-card-data p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

.product-card:hover .product-card-image{
    transform: scale(1.05);
}


.not-available{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color:rgba(255, 255, 255, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-available p{
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}





/* =========== Home Page ================ */


#news-letter-container h3{
    font-size: 4rem;
    color: var(--main-color);
}

#news-letter-container h5{
    font-size: 2rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
}

#newsLetterNote{
    position: fixed;
    z-index: 20;
    top:100px;
    right: 100px;
    width: 500px;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 2px 2px 5px black;
    transform: translateX(150%);
    transition: all ease 0.2s;
}

.closeNote{
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    color: red;
    font-weight: 900;
}



#airpod{
    opacity: 0;
    transition: all ease 2s;
}

#airpod .airpod-data h2{
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 35px;
    font-weight: 700;
}
#airpod .airpod-data {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 300;
}



/*  =====================  PRODUCT CARD ================== */
/* 
.product-card{
    height: 350px;
    margin:0 25px 100px 25px;
    
}

.product-image{
    width: 100%;
    transition: all 0.2s ease;
    height: 250px;
}

.product-image a{
    width: 100%;
    height: 100%;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card:hover .product-image{
    transform: scale(1.1);
}

.product-data{
    margin-top: 5px;
    height: 20%;
}

.add-to-cart-btn{
    width: 100%;
    margin-top: 10px;
   
} */



/* =================  Footer =================== */

footer{
    background-color: var(--main-color);
    color: wheat;
    font-family: var(--main-font);
    padding: 20px 30px;
}

.footer-title{
    font-weight: 300;
    font-size: 2.5rem;
    padding-bottom: 20px;
}


.footer-details h3{
    font-size: 2rem;
}

.footer-details h6{
    font-size: 1.1rem;
    font-weight: 300;
}



.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}






.footer-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
}

.footer-social a{
    color: antiquewhite;
    text-decoration: none;
}

.footer-social a i{
    font-size: 1.5rem;
}



.footer-credit{
margin: 10px 0;
text-align: center;
font-size: 1.1rem;
font-weight: 300;
}

.footer-credit a{
    font-weight: 700;
    color: rgb(15, 2, 73);
}








/* ========== Single Product Page ============== */

.single-product-container{
    display: flex;
    justify-content: space-between;
    width:60%;
    margin: 50px auto;
    padding-top: 50px;
   
}

.single-product-image{
    width: 25%;
    position: relative;
}

.on-sale{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    color: white;
    transform: rotate(20deg);
    top:-20px;
    right:-20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;     
    line-height: 1;
    
}

.single-product-image img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}


.single-product-data{
    width: 70%;
    padding: 0 100px;
    border-left: 1px solid black;
}

.single-product-data p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
}

.single-product-article{
    width: 60%;
    margin:auto;

}

.single-product-article p{
    font-size: 1.2rem;
    margin-top: 50px;
}


#modalImage{
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -200%);
    z-index: 10;
    width: 70%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

#image{
    height: 90%;
    margin-top:2.5%;
}




/* =========== Main Sale ============== */

.main-sale-container section{
    width: 100%;
    height: 800px;
    overflow: hidden;
    padding-top: 50px;
    
}

.main-sale-image{
    display: flex;
    justify-content: center;
    transition: all ease 1s;
    
}



.main-sale-link a{
    font-size: 1.2rem;
    font-family: var(--main-font);
    color: var(--main-color);
    text-decoration: none;
    transition: all ease 0.2s;
}
.main-sale-link a:hover{
  
    color: rgb(105, 14, 190);
    transform: scale(1.05%);
}



