@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
    --main-font: 'Lato', 'sans-serif';
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Classes */
.font-black{
    font-weight: 900;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400;
}
.font-light{
    font-weight: 300;
}

/* General Elements */

.sign-in-bar{
    width: 100%;
    height: 70px;
    background:rgb(217, 240, 248);
    display: flex;
    align-items: center;
    text-align: left;
    direction: rtl;
    z-index: 3;
    padding-right: 50px;
    
}

.cart{
    height: 45px;
    width: 45px;
    text-align: center;
    padding: auto;
    position: relative;
    
}

.cart a{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: blue;
    z-index: 2;
}

.cart .badge{
    position: absolute;
    z-index: 3;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top:0;
    left: 50%;
    padding: auto;
    

    
}


@media only screen and (min-width: 600px) {
    
    

    .my-links{
       display: flex;
       justify-content: center;
       flex:1;
      
      
    }

}


.main{
    min-height: 90vh;
    font-family:var(--main-font);
}








.product-card{
    height: 350px;
    margin:0 25px 100px 25px;
    
}

.product-image{
    width: 100%;
    transition: all 0.2s ease;
    height: 250px;
}

.product-image a{
    width: 100%;
    height: 100%;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card:hover .product-image{
    transform: scale(1.1);
}

.product-data{
    margin-top: 5px;
    height: 20%;
}

.add-to-cart-btn{
    width: 100%;
    margin-top: 10px;
   
}